body{
	background-color: grey;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% de la altura de la ventana */
    margin: 0; /* Elimina márgenes por defecto */
	flex-direction: column; 
 	overflow: hidden; /* Evita el desbordamiento de la página */
}
img{
	margin-top:10px;
	width:400px;
	
}

input{
	width: 90%; /* Ajusta el ancho para que sea responsive */
    max-width: 300px; /* Limita el ancho máximo */
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px; /* Añade un poco de espacio entre los inputs */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho del elemento */
   
}
